*.iml
frontend/.gradle
frontend/local.properties
frontend/.idea/workspace.xml
frontend/.idea/libraries
frontend/.idea/*
.DS_Store
frontend/build
frontend/captures
frontend/.externalNativeBuild

backend/node_modules

# Elastic Beanstalk Files
backend/.elasticbeanstalk/*
backend/!.elasticbeanstalk/*.cfg.yml
backend/!.elasticbeanstalk/*.global.yml
